{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Members</h1>
    <ul>
        {% for member in members %}
            <li>{{ member.name }} {{ member.surname }} - {{ member.email }} / {{ member.contactInfo }}</li>
        {% endfor %}
    </ul>
{% endblock %}
